<!-- Sidebar -->
<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			SB Admin <sup>2</sup>
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="/admin">
			<i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider mb-0" />

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#category" aria-expanded="true" aria-controls="category">
			<i class="fas fa-fw fa-th-large"></i>
			<span>Categories</span>
		</a>
		<div id="category" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/category/add">Add</a>
				<a class="collapse-item" href="/admin/category/list">List</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true" aria-controls="product">
			<i class="fas fa-fw fa-cubes"></i>
			<span>Products</span>
		</a>
		<div
			id="product"
			class="collapse"
			aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/product/add">Add</a>
				<a class="collapse-item" href="/admin/product/list">List</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cart_item"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Cart Items</span>
        </a>
        <div id="cart_item" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/cart-item/list">List</a>
            </div>
        </div>
    </li>

	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#order"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-file"></i>
            <span>Orders</span>
        </a>
        <div id="order" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/order/list">List</a>
            </div>
        </div>
    </li>

	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#order_item"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Order items</span>
        </a>
        <div id="order_item" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/order-item/list">List</a>
            </div>
        </div>
    </li>

	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#review"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-star"></i>
            <span>Reviews</span>
        </a>
        <div id="review" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/review/list">List</a>
            </div>
        </div>
    </li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />
</ul>
<!-- End of Sidebar -->